@import "color";

@media screen and (max-width:700px) {

    .cart {
        grid-template-columns: 1fr;
    
        aside {
            padding: 1rem;
            border-radius: 100px 100px 0 0;
            align-items: center;
    
            h2 {
                margin: 1rem;
                font: 100 1.2rem "Roboto";
            }
        }
    
    }



    .cartItem {
    
        img {
            width: 120px;
            height: 120px;
            object-fit: cover;
        }

        h3 {
            font-size: 15px;
        }
    
        div {
            display: flex;
            align-items: center;
            height: 100%;
    
            button {
                width: 20px;
                height: 20px;
            }
        }
    
        svg {
            cursor: pointer;
            font-size: 1.2rem;
            margin: 10px;

        }
    }
}